<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<header class="bg-black">
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8">
      <a href="/" class="font-bold text-3xl text-white">Job Tracker</a>
    </nav>

  {% comment %} 
     {% if user.is_authenticated %}
        <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8">
          <a href="/" class="font-bold text-3xl">Job Tracker</a>
        </nav>
    {% endif %}
  {% endcomment %}
</header>
